<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><TMPL_IF NAME="Title"><!-- TMPL_VAR NAME="Title" --></TMPL_IF></title>
    <meta name="description" content="<TMPL_IF NAME="Description"><!-- TMPL_VAR NAME="Description" --></TMPL_IF>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <TMPL_INCLUDE NAME="icons.template">
    <!-- Include Google font Lato -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic,400italic,700italic" media="all" />
    <!-- Include modernizer.js -->
    <!-- <script src="/common-lib/js/modernizer.js" type="text/javascript"></script> -->
    <!-- Include jQuery -->
    <!--<link rel="stylesheet" type="text/css" href=""//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" media="all" />-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
    <!--<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js" type="text/javascript"></script>-->
    <!-- Include jQuery plugin datetimepicker -->
    <link rel="stylesheet" type="text/css" href="/common-lib/jquery/plugins/datetimepicker-master/jquery.datetimepicker.css" />
    <script src="/common-lib/jquery/plugins/datetimepicker-master/jquery.datetimepicker.js" type="text/javascript"></script>
    <!-- Include jQuery plugin validation (requires bootstrap) -->
    <link rel="stylesheet" type="text/css" href="/common-lib/jquery/plugins/bootstrapvalidator/dist/css/bootstrapValidator.min.css" />
    <script src="/common-lib/jquery/plugins/bootstrapvalidator/dist/js/bootstrapValidator.min.js" type="text/javascript"></script>
    <!-- Include jQuery plugin DataTables with Bootstrap integration-->
    <script src="/common-lib/jquery/plugins/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/common-lib/jquery/plugins/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" />
    <script src="/common-lib/jquery/plugins/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>
    <!-- Include jQuery plugin FancyBox -->
    <link rel="stylesheet" type="text/css" href="/common-lib/jquery/plugins/fancybox/jquery.fancybox.css" media="screen">
    <script src="/common-lib/jquery/plugins/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
    <!-- Include Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/lib/css/bootstrap.css" />
    <script src="/lib/js/bootstrap.js" type="text/javascript"></script>
    <!-- Include own stylesheet -->
    <TMPL_IF NAME="Stylesheet"><link rel="stylesheet" type="text/css" href="<!-- TMPL_VAR NAME="Stylesheet" -->" /></TMPL_IF>
    <!-- Include own functions -->
    <TMPL_IF NAME="JavaScript"><script src="<!-- TMPL_VAR NAME="JavaScript" -->" type="text/javascript"></script></TMPL_IF>
  </head>
  <body>
    <div class="container<TMPL_IF NAME="Fluid">-fluid</TMPL_IF>">
      <TMPL_IF NAME="PageHeader"><!-- TMPL_VAR NAME="PageHeader" --></TMPL_IF>
      <TMPL_IF NAME="ToolArea"><!-- TMPL_VAR NAME="ToolArea" --></TMPL_IF>
      <TMPL_IF NAME="Navigation"><!-- TMPL_VAR NAME="Navigation" --></TMPL_IF>
      <TMPL_IF NAME="Content"><!-- TMPL_VAR NAME="Content" --></TMPL_IF>
      <TMPL_IF NAME="Footer"><!-- TMPL_VAR NAME="Footer" --></TMPL_IF>
    </div>
  </body>
</html>

